.text-white {
    color: #EDF2F4(255, 255, 255)!important;
}
button{
    background-color: #EF233C;
    border-color: #D80032;
}
#login{ 
    margin-right: 10px;
}

.image{
    margin-right: 25px;
}
.footer-rent h3 {
    color: #EDF2F4;
    font: normal 36px Cookie, cursive;
    margin: 0;
    margin-right: 40px;
  }