<button
  *ngIf="dataLoaded == false"
  class="btn btn-primary"
  type="button"
  disabled
>
  <span
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
  ></span>
  Loading..
</button>

<header><b>Markalar</b></header>

<ul 
*ngIf="dataLoaded == true"
class="list-group">
  <li 
  (click)="clearCurrentBrand()"
  [class]="getAllBrandClass()" 
  routerLink="/cars/brand/all">
  Tüm Markalar
  </li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>

<h5 *ngIf="currentBrand">{{ currentBrand.brandName }} seçtiniz</h5>
