<div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <br />
          <app-car-filter></app-car-filter>
          <br />
          <app-brand></app-brand>
          <br /><br />
          <app-color></app-color>
          <br /><br /><br />
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-header"><h5 class="title">Marka Sil</h5></div>
            <div class="card-body">
              <form [formGroup]="creditCardDeleteForm">
                <div class="mb-3">
                    <label for="creditCardId">Silinecek Kredi Kartının Id'si</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="creditCardId"
                        formControlName="creditCardId"
                        class="form-control"
                        placeholder="Silinecek Kredi Kartının Id'si"
                      />
                    </div>
                  </div>               
              </form>
            </div>
            <div class="card-footer">
              <button class="btn btn-fill btn-danger" (click)="delete()">
                Sil
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  