<div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <br />
          <app-car-filter></app-car-filter>
          <br />
          <app-brand></app-brand>
          <br /><br />
          <app-color></app-color>
          <br /><br /><br />
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-header"><h5 class="title">Renk Sil</h5></div>
            <div class="card-body">
              <form [formGroup]="colorDeleteForm">
                <div class="mb-3">
                    <label for="colorId">Silinecek Rengin Id'si</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="colorId"
                        formControlName="colorId"
                        class="form-control"
                        placeholder="Silinecek Rengin Id'si"
                      />
                    </div>
                  </div>                    
              </form>
            </div>
            <div class="card-footer">
              <button class="btn btn-fill btn-danger" (click)="delete()">
                Sil
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  