
<header><b>Kiralamalar</b></header>

<table  *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th
        scope="col"
        style="background-color: rgb(174, 204, 214); border-radius: 10px"
      >
      Araba
      </th>
      <th
        scope="col"
        style="background-color: rgb(148, 199, 218); border-radius: 10px"
      >
      İsim
      </th>
      <th
        scope="col"
        style="background-color: rgb(146, 214, 236); border-radius: 10px"
      >
      Soyisim
      </th>
      <th
        scope="col"
        style="background-color: rgb(116, 207, 238); border-radius: 10px"
      >
      Marka
      </th>
      <th
        scope="col"
        style="background-color: rgb(116, 207, 238); border-radius: 10px"
      >
      Renk
      </th>
      <th
        scope="col"
        style="background-color: rgb(116, 207, 238); border-radius: 10px"
      >
      Kiralama Tarihi
      </th>
      <th
        scope="col"
        style="background-color: rgb(116, 207, 238); border-radius: 10px"
      >
      Teslim Tarihi
      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rental of rentals" [class]="returnDateCheck(rental)">
    <td>{{ rental.carName }}</td>
    <td>{{ rental.firstName }}</td>
    <td>{{ rental.lastName }}</td>
    <td>{{ rental.brandName }}</td>
    <td>{{ rental.colorName }}</td>
    <td>{{ rental.rentDate | date: 'M/d/yy, h:mm a' }}</td>
    <td>{{ rental.returnDate | date: 'M/d/yy, h:mm a'}}</td>
  </tr>
</tbody>
</table> 


