<div class="container">
  <div class="row">
    <div class="col-md-9">
      <button
        *ngIf="dataLoaded == false"
        class="btn btn-primary"
        type="button"
        disabled
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Biraz Sabırlı Davran Kuzumm..
      </button>
      <br />
      <div class="text">
        <header><b>ARABALAR</b></header>       
      </div>
      <br>
      
      <!-- <div class="mb-3">
        <label for="filterText" class="form-label">Araba Ara</label>
        <input
          type="text"
          [(ngModel)]="filterText"
          class="form-control"
          id="filterText"
          placeholder="Bulmak istediğiniz Arabayı girin"
        />
      </div>
      <div *ngIf="filterText" class="alert alert-success">
        {{ filterText }} aranıyor.
      </div>
      
      <table *ngIf="dataLoaded == true" class="table">
        <thead>
          <tr>
            <th
              scope="col"
              style="background-color: rgb(255, 154, 60); border-radius: 10px"
            >
              Id
            </th>
            <th
              scope="col"
              style="background-color: rgb(255, 144, 50); border-radius: 10px"
            >
              Araba
            </th>
            <th
              scope="col"
              style="background-color: rgb(255, 134, 40); border-radius: 10px"
            >
              Marka
            </th>
            <th
              scope="col"
              style="background-color: rgb(255, 124, 30); border-radius: 10px"
            >
              Renk
            </th>
            <th
              scope="col"
              style="background-color: rgb(255, 114, 20); border-radius: 10px"
            >
              Fiyat
            </th>
            <th
              scope="col"
              style="background-color: rgb(255, 104, 10); border-radius: 10px"
            >
              Model
            </th>
            <th
              scope="col"
              style="background-color: rgb(255, 94, 0); border-radius: 10px"
            >
              Açıklama
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars | carFilterPipe: filterText">           
            <td>{{ car.carId }}</td>
            <td>{{ car.carName }}</td>
            <td>{{ car.brandName }}</td>
            <td>{{ car.colorName }}</td>
            <td>{{ car.dailyPrice | currency: "₺" }}</td>
            <td>{{ car.modelYear }}</td>
            <td>{{ car.description }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-info"
                routerLink="/cars/carDetail/{{ car.carId }}"
              >
                Detay
              </button>
            </td>
          </tr>
        </tbody>
       </table> -->

      <!-- <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">ARABALAR</h5>
          <p class="card-text">@ İbrahim Halil IŞIK</p>
        </div>
        <ul
          *ngFor="let car of cars | carFilterPipe: filterText"
          class="list-group list-group-flush"
        >
          <img
            src="{{ imageUrl }}\images\default.jpg"
            class="card-img-top"
            alt="..."
          />
          <li class="list-group-item">{{ car.carId }}</li>
          <li class="list-group-item">{{ car.carName }}</li>
          <li class="list-group-item">{{ car.brandName }}</li>
          <li class="list-group-item">{{ car.colorName }}</li>
          <li class="list-group-item">{{ car.dailyPrice | currency: "₺" }}</li>
          <li class="list-group-item">{{ car.modelYear }}</li>
          <li class="list-group-item">{{ car.description }}</li>
          <li class="list-group-item">{{ car.carName }}</li>
          <li class="list-group-item">
            <button
              type="button"
              class="btn btn-outline-info"
              routerLink="/cars/carDetail/{{ car.carId }}"
            >
              Detay
            </button>
          </li>
          <br />
        </ul>
      </div>  -->

      <div class="row" *ngIf="dataLoaded == true">
        <div *ngFor="let car of cars | carFilterPipe: filterText" class="card">
          <img
            [src]="
              car.images.length !== 0
                ? imageBasePath + car.images[0]
                : imageBasePath + defaultImg
            "
            class="card-img-top"
            alt="{{ car.description }} Image"
            width="100%"
            height="100%"
          />
          <div id="brand" class="card-body">
            <h5 class="card-title" style="color: #2b2d42">
              {{ car.brandName | uppercase }}
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="color: #2b2d42">
              Renk: {{ car.colorName }}
            </li>
            <li class="list-group-item" style="color: #2b2d42">
              Model Yılı: {{ car.modelYear }}
            </li>
            <li class="list-group-item" style="color: #2b2d42">
              Fiyat:
              {{ car.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2" }}
            </li>
          </ul>
          <div class="card-body">
            <section style="float: top">
              <button
                routerLink="/cars/carDetail/{{ car.carId }}"
                type="button"
                class="btn btn-outline-light"
                style="background-color: #d80032"
              >
                Detaylar
              </button>
              <button
                routerLink="/rentals/add"
                id="rentalButton"
                type="button"
                class="btn btn-outline-light"
                style="background-color: #d80032"
              >
                Kirala
              </button>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <label for="filterText" class="form-label"><b> Araba Ara </b></label>
        <input
          type="text"
          [(ngModel)]="filterText"
          class="form-control"
          id="filterText"
          placeholder="Bulmak istediğiniz Arabayı girin"
        />
      </div>
      <div *ngIf="filterText" class="alert" style="color: #d80032">
        {{ filterText }} aranıyor.
      </div>
     
      <app-car-filter></app-car-filter>
      <br />
      <!-- <app-brand></app-brand>
      <br /><br />
      <app-color></app-color>
      <br /><br /><br /> -->
    </div>
  </div>
</div>
