<div class="container-md">
    <div class="list-group">
      <br><br>
      <header><b>Araba İşlemleri</b></header>
      <br>
        <label class="list-group-item" routerLink="/cars/add">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Araba Ekle
          </label>
          <label class="list-group-item" routerLink="/cars/update">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Araba Güncelle
          </label>
          <label class="list-group-item" routerLink="/cars/delete">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Araba Sil
          </label>
          <br>
          <header><b>Marka İşlemleri</b></header>
          <br>    
          <label class="list-group-item" routerLink="/brands/add">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Marka Ekle
          </label>
          <label class="list-group-item" routerLink="/brands/update">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Marka Güncelle
          </label>
          <label class="list-group-item" routerLink="/brands/delete">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Marka Sil
          </label>
          <br>
          <header><b>Renk İşlemleri</b></header>
          <br>    
          <label class="list-group-item" routerLink="/colors/add">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Renk Ekle
          </label>
          <label class="list-group-item" routerLink="/colors/update">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Renk Güncelle
          </label>
          <label class="list-group-item" routerLink="/colors/delete">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Renk Sil
          </label>
          <br>
          <header><b>Kart İşlemleri</b></header>
          <br>
          <label class="list-group-item" routerLink="/creditcards/update">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Kredi Kartı Güncelle
          </label>
          <label class="list-group-item" routerLink="/creditcards/delete">
            <input class="form-check-input me-1" type="checkbox" value="" >
            Kredi Kartı Sil
          </label>
          <br><br><br><br><br>
    </div>
</div>
