<div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <br />
          <app-car-filter></app-car-filter>
          <br />
          <app-brand></app-brand>
          <br /><br />
          <app-color></app-color>
          <br /><br /><br />
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-header"><h5 class="title">Kredi Kart Güncelle</h5></div>
            <div class="card-body">
              <form [formGroup]="creditCardUpdateForm">
                <div class="mb-3">
                    <label for="creditCardId">Güncellenecek Kredi Kartı Id'si</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="creditCardId"
                        formControlName="creditCardId"
                        class="form-control"
                        placeholder="Güncellenecek Kredi Kartı Id'si"
                      />
                    </div>
                  </div>
                <div class="mb-3">
                  <label for="nameOnTheCart">Kartın üzerindeki Yeni İsim-Soyisim</label>
                  <div class="form-group">
                    <input
                      type="text"
                      id="nameOnTheCart"
                      formControlName="nameOnTheCart"
                      class="form-control"
                      placeholder="Yeni İsim Soyisim"
                    />
                  </div>
                </div>    
                <div class="mb-3">
                    <label for="cardNumber">Kart Numarası</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="cardNumber"
                        formControlName="cardNumber"
                        class="form-control"
                        placeholder="Kart Numarası"
                      />
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="securityNumber">Yeni Cvv</label>
                    <div class="form-group">
                      <input
                        type="password"
                        id="securityNumber"
                        formControlName="securityNumber"
                        class="form-control"
                        placeholder="Yeni Kart Güvenlik Numarası"
                      />
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="cardExpiryDate">Kart Son Geçerlilik Tarihi</label>
                    <div class="form-group">
                      <input
                        type="date"
                        id="cardExpiryDate"
                        formControlName="cardExpiryDate"
                        class="form-control"
                        placeholder="Kart Son Geçerlilik Tarihi"
                      />
                    </div>
                  </div>                
              </form>
            </div>
            <div class="card-footer">
              <button class="btn btn-fill btn-success" (click)="update()">
                Güncelle
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  